@import './utils/variables';

/**** Note ****/
/* Use this file for default theme level styling changes (eg: overide default bootstrap colors with our own color palette). 
You can find default bootstrap variables in "node_modules/bootstrap/scss/_varibales.scss".*/

/*** Do not change the order ***/

//ddot custom color theme
$primary: $primary-dark;
$secondary: $primary-medium;
$warning: $primary-red;
$success: $primary-green;

// Import Bootstrap's functions and variables
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';

// Define custom colors here
$custom-colors: (
  'tertiary': $secondary-font-color,
);

// Merge the custom colors with the existing theme colors
$theme-colors: map-merge($theme-colors, $custom-colors);
